<div class="field">
	<%= f.label :title  %>
	<%= f.text_field :title %>
</div>
	<div class="field">
	<%= f.label :sub_heading  %>
	<%= f.text_area :sub_heading %>
</div>
<div class="field">
	<%= f.label :content %>
	<%= f.text_area :content, :size => "30x20", :class => 'add-content' %>
</div>
<div class="field">
	<%= f.file_field :image %>
</div>
<div class="field">
	<%= f.label :remote_image_url, "or Image URL"  %>
	<%= f.text_field :remote_image_url %>
</div>
<div class="field">
	<%= collection_select :news, :category_id, Category.all, :id, :name, 
	{ :prompt => 'Please select a cateogry' }, :class => 'dropdown' %>
</div>