<span class="index-title">
	<%= link_to news.title, news %>
</span>
<span class="index-description">
	<span class='index-date'>
		<%= news.category.name %>
		|
		<%= news.created_at.strftime("%d %b %y") %>
	</span>
	<%= link_to 'Edit', edit_news_path(news), :class => 'button tiny radius' %>
	<%= link_to 'Delete', news, :method => :delete,
							:confirm => "Are you sure?",
							:title => "Delete #{news.title}",
							:class => 'button tiny alert radius' %>
</span>