
<div class="row">
	<div class="large-6 columns">
		<h1 class="index">All News</h1>
	</div>
	<div class="large-6 columns">
		<%= link_to "New News", new_news_path, :class => "buttons button" %>
	</div>
</div>

<ul class="news-list">
	<%= @news.each do |news| %>
		<li>
			<span class="index-title"><%= link_to news.title, news, :class => 'index-title' %></span>
			<span class="index-description">
				<%= news.created_at.strftime("%d %b %y") %>
				<%= link_to 'Edit', edit_news_path(news), :class => 'link-buttons edit' %>
				<%= link_to 'Delete', news, :method => :delete,
											:confirm => "Are you sure?",
											:title => "Delete #{news.title}",
											:class => 'link-buttons delete' %>
			</span>
		</li>
	<% end %>
</ul>