<h1>Add News</h1>

<%= form_for(@news) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :title  %><br/>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :content %><br/>
		<%= f.text_area :content, :size => "30x25" %>
	</div>
	<div class="field">
		<%= collection_select :news, :category_id, Category.all, :id, :name, 
		{ :prompt => 'Please select a cateogry' }, :class => 'custom-dropdown' %>
	</div>		
	<div class="actions">
		<%= f.submit "Save", :class => 'button' %>
	</div>
<% end %>