- content_for :head do
  / Normal Tags
  %meta{:content => "#{@news.title}", :name => "title"}/
  %meta{:content => "#{@news.content[0..155]}", :name => "description"}/
  %meta{:content => "#{%W[#{@news.category.name} News]}", :name => "keywords"}/
  / Schema.org markup for Google+
  %meta{:content => "#{@news.title}", :itemprop => "name"}/
  %meta{:content => "#{@news.content[0..155]}", :itemprop => "description"}/
  %meta{:content => "#{@news.image_url}", :itemprop => "image"}/
  / Open Graph Meta Tags
  %meta{:content => "#{@news.title}", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "#{@news.image_url}", :property => "og:image"}/
  %meta{:content => "#{request.url}", :property => "og:url"}/
  %meta{:content => "#{@news.content[0..155]}", :property => "og:description"}/
  %meta{:content => "Early Morning Post", :property => "og:site_name"}/
  %meta{:content => "#{@news.category.name}", :property => "article:section"}/
  %meta{:content => "#{%W[#{@news.category.name} News]}", :property => "article:tag"}/
  / Twitter Meta Tags
  %meta{:content => "summary_large_image", :name => "twitter:card"}/
  %meta{:content => "#{@news.title}", :name => "twitter:title"}/
  %meta{:content => "#{@news.content[0..155]}", :name => "twitter:description"}/
  / Twitter summary card with large image must be at least 280x150px
  %meta{:content => "@news.image_url", :name => "twitter:image:src"}/
%div{:itemscope => "", :itemtype => "http://schema.org/Article"}
  %h1{:itemprop => "name"}= @news.title
  %h4= @news.sub_heading
  .news-date
    - if @news.created_at > 2.days.ago
      = time_ago_in_words(@news.created_at).upcase
      AGO
    - else
      = @news.created_at.to_formatted_s(:long_ordinal)
      UTC
    - if @news.author?
      |
      %strong
        BY #{@news.author.upcase}
  - if admin?
    .admin-buttons
      = link_to 'Edit', edit_news_path(@news), :class => 'button tiny radius'
      = link_to 'Delete', @news, :method => :delete, |
        :confirm => "Are you sure?",                 |
        :title => "Delete #{@news.title}",           |
        :class => 'button tiny alert radius'         |
  .news-image
    %span{:itemprop => "image"}= image_tag @news.image_url if @news.image?
  - if @news.image_courtesy?
    .image-courtesy
      Image Courtesy #{@news.image_courtesy}
  .social-likes.social-likes_light
    .facebook{:title => "Share this on Facebook"} Facebook
    .twitter{:title => "Tweet it!"} Twitter
    .plusone{:title => "Share this on Google+"} Google+
    .pinterest{"data-media" => "", :title => "Share image on Pinterest"} Pinterest
  %hr/
  #news-content
    %span{:itemprop => "description"}= simple_format @news.content
  - if @news.video_url?
    .embedded-video
      %iframe#iFrame{:frameborder => "0", :height => "640px", :src => "//www.youtube.com/embed/#{@news.video_url}?wmode=opaque", :width => "100%"}
  #comments
    %hr/
    %h3.comments-title DISCUSSION
    #disqus_thread
    = javascript_include_tag 'disqus'
    %noscript
      Please enable JavaScript to view the
      %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.
    %a.dsq-brlink{:href => "http://disqus.com"}
      comments powered by
      %span.logo-disqus Disqus
