<!-- <div class="news-title"> -->
	<h1><%= @news.title %></h1>
<!-- </div> -->
<!-- <div class="news-sub-heading"> -->
	<h4><%= @news.sub_heading %></h4>
<!-- <div> -->
<div class="news-date">
	<% if @news.created_at > 2.days.ago %>
		<%= time_ago_in_words(@news.created_at).upcase %> AGO
	<% else %>
		<%= @news.created_at.to_formatted_s(:long_ordinal) %> UTC
	<% end %>
	<% if @news.author? %>
		| <strong> BY <%= @news.author.upcase %> </strong>
	<% end %>
</div>

<% if admin? %>
	<div class="admin-buttons">
		<%= link_to 'Edit', edit_news_path(@news), :class => 'button tiny' %>
		<%= link_to 'Delete', @news, :method => :delete,
									 :confirm => "Are you sure?",
									 :title => "Delete #{@news.title}",
									 :class => 'button tiny alert' %>
	</div>
<% end %>

<div class='news-image'>
	<%= image_tag @news.image_url if @news.image? %>
</div>
<% if @news.image_courtesy? %>
	<div class="image-courtesy">
		Image Courtesy <%= @news.image_courtesy %>
	</div>
<% end %>

<div class="social-likes">
	<div class="fb-share-button" 
		 data-href='#{request.full_path}'
		 data-type="button_count"></div>
	<div class="google">
		<div class="g-plusone"></div>
		<%= javascript_include_tag 'google-plus' %>
	</div>
	<div class="twitter">
		<a 	href="https://twitter.com/share" 
			class="twitter-share-button" 
			data-lang="en">Tweet</a>
		<%= javascript_include_tag 'twitter' %>
	</div>
</div>

<!-- <div class="social-likes social-likes_light">
	<div class="facebook" title="Share this on Facebook">Facebook</div>
	<div class="twitter" title="Tweet it!">Twitter</div>
	<div class="plusone" title="Share this on Google+">Google+</div>
	<div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
</div> -->

<hr>

<%= simple_format @news.content %>