<% content_for :head do %>
  <!-- Normal Tags -->
  <meta name="title" content="<%= @news.title %>"/>
  <meta name="description" content="<%= @news.content[0..155] %>"/>
  <meta name="keywords" content="<%= %W[#{@news.category.name} News Google Facebook] %>"/>

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="<%= @news.title %>">
  <meta itemprop="description" content="<%= @news.content[0..155] %>">
  <meta itemprop="image" content="<%= @news.image_url %>">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= @news.title %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= @news.image_url %>"/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:description" content="<%= @news.content[0..155] %>"/>
  <meta property="og:site_name" content="Early Morning Post" />
  <meta property="article:section" content="<%= @news.category.name %>" />
  <meta property="article:tag" content="<%= %W[#{@news.category.name} News] %>" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @news.title %>">
  <meta name="twitter:description" content="<%= @news.content[0..155] %>">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="@news.image_url">
<% end %>

<h1><%= @news.title %></h1>
<h4><%= @news.sub_heading %></h4>
<div class="news-date">
	<% if @news.created_at > 2.days.ago %>
		<%= time_ago_in_words(@news.created_at).upcase %> AGO
	<% else %>
		<%= @news.created_at.to_formatted_s(:long_ordinal) %> UTC
	<% end %>
	<% if @news.author? %>
		| <strong> BY <%= @news.author.upcase %> </strong>
	<% end %>
</div>

<% if admin? %>
	<div class="admin-buttons">
		<%= link_to 'Edit', edit_news_path(@news), :class => 'button tiny' %>
		<%= link_to 'Delete', @news, :method => :delete,
									 :confirm => "Are you sure?",
									 :title => "Delete #{@news.title}",
									 :class => 'button tiny alert' %>
	</div>
<% end %>

<div class='news-image'>
	<%= image_tag @news.image_url if @news.image? %>
</div>
<% if @news.image_courtesy? %>
	<div class="image-courtesy">
		Image Courtesy <%= @news.image_courtesy %>
	</div>
<% end %>

<div class="social-likes social-likes_light">
	<div class="facebook" title="Share this on Facebook">Facebook</div>
	<div class="twitter" title="Tweet it!">Twitter</div>
	<div class="plusone" title="Share this on Google+">Google+</div>
	<div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
</div>

<hr>

<%= simple_format @news.content %>