<div class="card">
	<% if news.image? %>
	<div class="image">
		<%= image_tag news.image_url %>
	</div>
	<% end %>
	<div class="card-summary">
		<div id="card-captions">
			<h2>
				<%= link_to news.category.name.upcase, "/#{news.category.name.downcase}" %>
				|
				<%= news.created_at.strftime("#{news.created_at.day.ordinalize} %B %y").upcase %>
			</h2>
		</div>
		<div id="card-title">
			<h1><%=link_to news.title, news %></h1>
		</div>
		<div id="card-content">
			<p><%= truncate news.content, length: 180 %></p>
		</div>
	</div>
</div>