
<div class="slideshow-wrapper">
<div class="preloader"></div>
<ul class="example-orbit" data-orbit>
	<% for news in @news %>
		<% if news.created_at > 7.days.ago and news.image? %>
			<li>
				<div class="image-container">
					<%= image_tag news.image_url %>
				</div>
			    <div class="orbit-caption">
  					<div class="title"><%= link_to news.title, news %></div>
  					<div class="category"><%= news.category.name %></div>
					</div>
			</li>
		<% end %>
	<% end %>
</ul>
</div>

<div class="row">
<% for news in @news %>
	<div class="small-6 columns">
	<section class="card">
	  <% if news.image? %>
		<div class="image">
			<%= image_tag news.image_url %>
		</div>
	  <% end %>
	  <h2><%= news.category.name %></h2>
	  <h1 id="card-title"><%= news.title %></h1>
	  <p class="card-content">		  	
	  	<%= news.content %>
	  </p>
	</section>
	</div>
<% end %>
</div>