.slideshow-wrapper.hide
  .preloader
  %ul.example-orbit{ "data-orbit": true }
    - @news.last(5).each do |news|
      - if news.image?
        %li
          .image-container
            = image_tag news.image_url
          .orbit-caption
            .title= link_to news.title, news
            .category= news.category.name
#cards-wrapper
  - @news.each_with_index do |news, index|
    - if index != 0 && index % 4 == 0
      = render '/pages/ad_card'

    = render '/pages/card', news: news

= paginate @news
