.main
  #page-title
    %h2
      - if @category.icon
        = fa_icon "#{@category.icon} lg", text: @category.name.upcase
      - else
        = @category.name.upcase
- if admin?
  %p
    %strong Name:
    = @category.name
  = link_to 'Edit', edit_category_path(@category)
  |
  = link_to 'Back', categories_path

#cards-wrapper
  - @news.each_with_index do |news, index|
    // Google Ad
    - if index != 0 && index % 4 == 0
      = render '/pages/ad_card'

    // Facebook Like button
    - if index != 0 && index % 5 == 0
      .card
        .fb-like{"data-share": true, "data-width": 450, "data-show-face": true}


    = render '/pages/card', news: news

= paginate @news
