.footer-top-border
.footer-top
  .row
    #footer-nav.large-3.columns
      %ul
        - Category.all.each do |category|
          %li= fa_icon "#{category.icon}", text: category.name.upcase
    #footer-nav.large-3.column
      %ul
        %li
          %i.fi-social-facebook.size-48
          = link_to "Facebook", "https://www.facebook.com/earlymorningpost"
        %li
          %i.fi-social-google-plus
          = link_to "Google+", "//plus.google.com/u/0/114178803974973491087?prsrc=3"
        %li
          %i.fi-star
          = link_to "About Us", about_path
    .footer-logo.large-6.columns
      = link_to logoFooter
.footer-bottom
  .row
    .large-12.columns
      %p Copyright © Early Morning Post. All Rights Reserved.
