.header-wrapper
  .row.collapse
    .logo.large-2.offset-2.columns
      = link_to logoHeader, root_path
    .large-8.columns.header-ad{align: "right"}
      %script{async: true, src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      / Header-Ad-Leaderboard
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8853705788192995", "data-ad-slot" => "7882985666", :style => "display:inline-block;width:728px;height:90px"}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
  .contain-to-grid.sticky
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
        %li.toggle-topbar.menu-icon
          %a{:href => "#"} Menu
      %section.top-bar-section.navigation
        / Left Nav Section
        %ul.left
          - Category.all.each do |category|
            %li= link_to category.name.upcase,   category_path(category)
        - if admin?
          / Right Nav Section
          %ul.right
            %li= link_to "News", news_index_path
            %li.divider
            %li= link_to "Categories", categories_path
            %li.divider
            %li= link_to "Logout", byebye_path
