<div class="header-wrapper">
<div class="row collapse">
    <div class="logo large-2 offset-2 columns">
      <%= link_to logoHeader, root_path  %>
    </div>

    <div class="large-8 columns header-ad" align="right">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Header-Ad-Leaderboard -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-8853705788192995"
           data-ad-slot="7882985666"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
</div>

<div class="contain-to-grid sticky"> 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section navigation">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to "HOME",            root_path   %></li>
        <li><%= link_to "WORLD",           world_path  %></li>
        <li><%= link_to "TECHNOLOGY",      technology_path  %></li>
        <li><%= link_to "SCIENCE",         science_path   %></li>
        <li><%= link_to "ENTERTAINMENT",   entertainment_path   %></li>
      </ul>

      <% if admin? %>
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to "Manage", news_index_path %></li>
           <li class="divider"></li>
          <li><%= link_to "Logout", byebye_path %></li>
        </ul>
      <% end %>
    </section>
  </nav> 
</div>
</div>
