.header-wrapper.fixed.contain-to-grid
  .top-bar{ data: { topbar: true }, role: "navigation" }
    .title-area
      .logo
        = link_to logoHeader, root_path
    .top-bar-section
      %ul.right
        - Category.all.each do |category|
          %li
            %a{href: category_path(category)}
              = fa_icon "#{category.icon}", text: category.name.upcase
          - if admin?
            %li= link_to "News", news_index_path
            %li.divider
            %li= link_to "Categories", categories_path
            %li.divider
            %li= link_to "Logout", byebye_path
