<%# add navigation links to this file %>
 <li class="divider"></li>
<li><%= link_to "Home",            root_path   %></li>
<li class="divider"></li>
<li><%= link_to "Technology",      technology_path  %></li>
<li class="divider"></li>
<li><%= link_to "Sports",          sports_path   %></li>
<li class="divider"></li>
<li><%= link_to "Entertainment",   entertainment_path   %></li>
<li class="divider"></li>
<li><%= link_to "World",           world_path  %></li>
<li class="divider"></li>