%li.divider
%li= link_to "Home",            root_path
%li.divider
%li= link_to "Technology",      technology_path
%li.divider
%li= link_to "Sports",          sports_path
%li.divider
%li= link_to "Entertainment",   entertainment_path
%li.divider
%li= link_to "World",           world_path
%li.divider
