<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />

<!-- Uncomment to make IE8 render like IE7 -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="application-name" content="Early Morning Post">
<meta name="msvalidate.01" content="D9B2E54E17C77607F44057A2C737B103" />

<% if content_for?(:head) %>
  <%= yield(:head) %>
<% else %>
  <meta name="title" content="Early Morning Post">
  <meta name="keywords" content="News, Technology, Information, Google, Facebook, World">
  <meta name="title" content="Early Morning Post">
  <meta property="og:title" content="Early Morning Post"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="www.earlymorningpost.com"/>
  <meta property="og:description" content="Early Morning Post news about Technology, World, and everything else."/>
  <meta property="description" content="Early Morning Post news about Technology, World, and everything else."/>
<% end %>

<title><%= title %></title>
<!-- RSS FEED Link Tag -->
<%= auto_discovery_link_tag(:rss, "http://www.earlymorningpost.com") %>
<!-- Google Authorship and Publisher Markup -->
<link rel="author" href="https://plus.google.com/+Earlymorningpost7/posts"/>
<link rel="publisher" href="https://plus.google.com/+Earlymorningpost7"/>

<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,900,100' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'/>

<%= favicon_link_tag    'favicon.ico' %>
<%= stylesheet_link_tag "application" %>
<%= csrf_meta_tags %>
 </head>

<body class="<%= @home_page ? 'homepage' : '' %>">
  <div class="header">
    <%= render  'layouts/header' %>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="large-10 large-centered columns">
        <%= render 'layouts/flash_messages' %>
      </div>
    </div>
  </div>

  <div class="row content">
    <!-- Main -->
    <div class="large-10 large-centered columns">
      <%= yield %>
    </div>
  </div>

  <%= debug(params) if Rails.env.development? %>

  <!-- Footer: Find it in _footer.html.erb -->
  <%= render  'layouts/footer' %>

  <%= javascript_include_tag "application" %>
</body>
</html>
